# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Export généré (optionnel - décommenter si vous ne voulez pas le versionner)
# liste_courses.txt
